workflows/dynamic_prompt_workflow_fixed.json
{
    "name": "Dynamic Prompt Template - Fixed",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "dynamic-prompt-fixed",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                240,
                300
            ],
            "webhookId": "dynamic-prompt-fixed"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ \"Explain \" + $json.query.topic + \" in simple terms.\" }}",
                "options": {}
            },
            "id": "ai-agent-node",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.8,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "gemini-model-node",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                460,
                480
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "pinData": {},
    "tags": []
}